body{
  background-color:#000;
}

nav.dude{
  width: 50%;
  margin-left: 25%;
  color: yellow;
}

ul#dudeList li a {
  color: yellow;
}

#rautaketju{
  width: 50vw;
  height: auto;
  margin: 0 auto;
}

div#rautaketju iframe {
  width: 100%;
  height: 100%;
}
