/* Main Body */

body{
  background-image: url(assets/images/background.png);
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100%;
}

/* Menu Bar */

nav.menubalk{
  background-image: none;
  background-color: transparent;
  font-size: 5vh;
  border-radius: 0;
  text-align: center;
  height: 8vh;
  max-height: 8vh;
  border-color: transparent;
  margin-top: 21.5vh;
}

div.menuLogo{
  position: absolute;
  height: 20vh;
  left: 44.5vw;
  top: -20.5vh;
}

div.menuLogo img{
  height: 100%;
}

ul#menuList{
  display: inline-block;
  float: none;
  margin-top: 1vh;
}

ul#menuList li a {
  font-family: "Voltaire";
  color: white;
}

/* Witte balk home */

#homeTekst{
  width: 100%;
  height: 100px;
  background-color: white;
}

/* Pijltje omhoog fotopagina */

div#topcontrol{
  left: 5px;
}

/* Contact pagina */

div.contact{
  background-color: #1C1C1C;
  font-family: "Voltaire";
  color:white;
  opacity: 0.91;
  min-width: 50vw;
  margin-top: 30vh;
}

div.contact h1{
  font-size: 15vh;
  text-align: center;
}

div.contact p{
  font-size: 6vh;
  text-align: center;
}

/* Over ons pagina */

div.leden{
  height: auto;
  width: 90vw;
  margin-top: 6vh;
  position: absolute;
  margin-left: 4vw;
}

div.leden img{
  height: auto;
  width: 100%;
}

div.leden .row .imageRow {
  width: 20%;
  padding: 0.3vw;
}

div.ledeninfo{
  width: 90vw;
  text-align: center;
  color: white;
  font-family: Voltaire;
  opacity: 0.88;
  margin-left: 4vw;
  margin-top: 30%;
}

div.ledeninfo h1{
  font-size: 5vh;
  padding-top: 1.5vh;
}

div.ledeninfo p{
  font-size: 3vh;
}

div.ledeninfo .row .textRow {
  width: 20%;
  padding: 0.3vw;
}

div.infoMike, div.infoTom, div.infoRemco, div.infoNick, div.infoRob{
  background-color: #1C1C1C;
  height: 14vh;
}

/* Foto pagina */

div.foto1{
  height: auto;
  width: 90vw;
  margin-top: 6vh;
}

div.foto1 img{
  height: auto;
  width: 100%;
}

div.foto1 .row .imageRow {
  width: 20%;
  padding: 0.3vw;
}

div.foto2{
  height: auto;
  width: 90vw;
}

div.foto2 img{
  height: auto;
  width: 100%;
}

div.foto2 .row .imageRow {
  width: 20%;
  padding: 0.3vw;
}

/* Video pagina */

div.LEEG{
  background-color: #1C1C1C;
  font-family: "Voltaire";
  color:white;
  opacity: 0.91;
  min-width: 50vw;
  margin-top: 30vh;
  height: 25vh;
}

div.LEEG h1{
  font-size: 8vh;
  text-align: center;
  margin-top: 7.5vh;
}

/* Image-Slider home pagina */

#ninja-slider{
  height: 40vh;
  margin-top: 10vh;
}
