body{
  background-image: url(assets/crowd-at-concert-2.svg)
}

nav.dude{
  background-image: none;
  background-color: black;
  opacity: 0.81;
  font-size: 43px;
  border-radius: 0;
  padding-left: 26vw;
}

ul#dudeList li a {
  font-family: "Amatic SC";
  color: white;
}

#rautaketju{
  width: 50vw;
  height: 500px;
  margin: 0 auto;
  margin-top: -0.5%;
}

div#rautaketju iframe {
  width: 100%;
  height: 100%;
  border: none;
}

div.zinnetje{
  background-color: black;
  font-family: "Amatic SC";
  color:white;
  opacity: 0.91;
  height: 27vh;
  width: 50vw;
  margin-top: 0.5%;
}

div.zinnetje h1{
  font-size: 76px;
  margin-left: 5px;
}

div.zinnetje p{
  font-size: 32px;
  margin-left: 10px;
}
